.navbar {
  justify-content: space-between;
  background: #1B2F33;
  margin-top: 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand {
  margin: 3px;
  img {
  width: 60px;
  }
}

// avatar

.avatar {
  width: 40px;
  border-radius: 50%;
}
